.content-box{
    position: absolute;
    top: 5%;
}

.about-box{
    height: 100%;
    width: 100%;
}

@media (max-width :1000px) {
    .content-box{
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}

.intro-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 2s ease-in-out;
  }
