.content-box{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    justify-content: center;
    
}

.about-box{
    height: 100%;
    width: 100%;
}

@media (max-width :1000px) {
    .content-box{
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        
    }

    .first-row{
      gap: 50px !important;
    }
}

.intro-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 2s ease-in-out;
  }
