.contact-con p{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

.contact-con{
    height: 100%;
    width: 100%;
}

.contact-first{
    font-size: 3rem !important;
    font-weight: 700 !important;
    color: #e74c49 !important;
}

.contact-sec{
    font-size: 2rem !important;
    font-weight: 700 !important;
    color: #2c3e50 !important;
}


.contact-txt-con{
    position: absolute;
    top: 40%;
    transform: translatey(-50%);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon-box{
    height: 30px;
    width: 30px;

}

.socials-box{
    margin-top: 30px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row !important;
    gap: 25px;
}


.icon-box img{
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: #ECF0F1 !important;
    padding: 5px;
    border-radius: 40px;

}