.responsive-image {
    width: 100%;
    height: auto;
    max-width: 100%; /* Ensure the image doesn't exceed its container */
  }

    
  .intro-image-con{
    justify-content:center !important;
  }

  .intro-texts{
    font-size: 1.5rem !important;
    font-weight: 700 !important;
  }